/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



/* ------------------ Dignity ------------------ */

.m-dignity .r-dignity__info {
  margin-top: 6px;
  background: rgba(25, 33, 57, 0.5);
}

.m-dignity .r-dignity__body {
  width: 100%;
}

.m-title-num {
  padding-right: 50px;
}

.m-dignity .q-title {
  position: relative;
}

.m-dignity:not(.m-dignity--1) .q-title__sub {
  font-size: 20px;
  line-height: 1.2;
}

.m-dignity__num {
  color: #fff;
  font-size: 16px;
  top: 0;right: 0;
  font-weight: 500;
  position: absolute;
  border-radius: 50%;
  background: #1D2A3D;
  width: 32px;height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-dignity .r-list-default li {
  padding-left: 33px;
}

.m-dignity__btn {
  margin-top: 32px;
}

.m-dignity__btn .q-btn:hover {
  color: #fff;
}

/* #1 */

.m-dignity--1 .r-dignity__img {
  width: 579px;
}

.m-dignity--1 .r-dignity__box {
  border: 0;
  background: #D4D9E9;
}

.m-dignity--1 .r-dignity__body {
   max-width: 435px;
}

.m-dignity--1 .q-title {
  margin-bottom: 24px;
}

.m-dignity--1 .r-list-default li:not(:last-child) {
  margin-bottom: 16px;
}

.m-dignity--1 .m-dignity__btn {
  margin-top: 24px;
}

/* #2 */

.m-dignity--2 .r-dignity__img {
  width: 50.432%;
  left: 0;right: auto;
}

.m-dignity--2 .r-dignity__group {
  left: 20px;bottom: 20px;
  max-width: 377px;width: 100%;
}

.m-dignity--2 .r-dignity__body {
  max-width: 45%;
  margin-left: auto;
}

/* #3 */

.m-dignity--3 .r-dignity__img {
  width: 598px;
}

.m-dignity--3 .r-dignity__box {
  background: #DDE3EE;
}

.m-dignity--3 .r-dignity__body {
  max-width: 359px;
}

/* #4 */

.m-dignity--4 .r-dignity__img {
  width: 465px;
  left: 0;right: auto;
}

.m-dignity--4 .r-dignity__body {
  max-width: 382px;
  margin-left: auto;
}

/* #5 */

.m-dignity--5 .r-dignity__box {
  color: #fff;
  background: #000;
}

.m-dignity--5 .r-dignity__img {
  width: 529px;
}

.m-dignity--5 .r-dignity__body {
  max-width: 382px;
}

.m-dignity--5 .q-title__sub {
  color: #fff;
}

/* ---------------- Categories ----------------- */

.m-categories {
  padding-top: 56px;
}

.m-categories .q-categories__img {
  height: 216px;
}

.m-categories .q-categories__img svg {
  opacity: 0;
}

.m-categories .q-categories__btn {
  margin-top: 18px;
}

/* ------------------ Tasks -------------------- */

.m-tasks {
  padding-top: 88px;
}

.m-tasks .row {
  margin-left: -10px;
  margin-right: -10px;
}

.m-tasks__row [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

.m-tasks .q-task__row {
  width: 100%;
  -webkit-backdrop-filter: blur(9.65px);
          backdrop-filter: blur(9.65px);
  background: rgba(29, 42, 61, 0.86);
}

.m-tasks .q-tasks__nav .swiper-slide {
  padding-top: 19px;
  padding-bottom: 19px;
}

.m-tasks .q-tasks__item {
  min-height: 452px;
}

.m-tasks__next {
  color: #fff;
  width: 100%;
  margin-top: 24px;
  border-radius: 12px;
  border: 1px solid #B49B7E;
  -webkit-filter: drop-shadow(0px 7px 12px rgba(29, 42, 61, 0.05));
          filter: drop-shadow(0px 7px 12px rgba(29, 42, 61, 0.05));
}

/* ----------------- Vantage ------------------- */

.m-vantage .q-vantage__box {
  z-index: 1;
  position: relative;
}

.m-vantage .q-vantage__body {
  padding: 46px;
  position: static;
  min-height: 325px;
}

.m-vantage .q-vantage__img {
  bottom: 0;
  width: 100%;height: auto;
}

.m-vantage .q-vantage__item {
  width: 20%;
  padding: 20px;
}


/* ---------------- Categories ----------------- */
/* ---------------- Categories ----------------- */
/* ---------------- Categories ----------------- */
/* ---------------- Categories ----------------- */




/* ============================ */
/* ============================ */
/* ============================ */
/*            Media             */
/* ============================ */
/* ============================ */
/* ============================ */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
  
}

@media only screen and (max-width : 1199px) {
  .m-dignity--1 .r-dignity__img {
    right: -80px;
  }
  .m-dignity--1 .r-dignity__body {
    max-width: 400px;
  }
  .m-dignity--3 .r-dignity__img {
    right: -105px;
  }
  .m-vantage .q-vantage__item {
    padding: 15px;
  }
  .m-vantage .q-vantage__item span {
    font-size: 12px;
  }
  .m-vantage .q-vantage__img {
    right: 0;
  }
}

@media only screen and (max-width : 1079px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
  .m-dignity--1 .r-dignity__img {
    right: -120px;
  }
  .m-dignity--3 .r-dignity__img {
    right: -145px;
  }
  .m-tasks__arrow {
    position: absolute;
    top: -3px;right: 0;
  }
  .m-tasks .q-tasks__body .q-swiper-button {
    top: 110px;
  }
}

@media only screen and (max-width : 867px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .m-dignity__btn {
    margin-top: 24px;
  }
  .m-dignity__btn .q-btn {
    width: 100%;
  }
  .m-dignity--1 .r-dignity__box {
    padding-top: 297px;
  }
  .m-dignity--1 .r-dignity__img {
    top: 0;left: 0;right: 0;
    width: 100%;height: 277px;
    background: url(img/m-dignity-1-mob.png) center/cover no-repeat !important;
  }
  .m-dignity--1 .q-title {
    margin-bottom: 16px;
  }
  .m-dignity--1 .q-title__sub {
    font-size: 18px;
  }
  .m-dignity--1 .m-dignity__btn {
    margin-top: 16px;
  }
  .m-dignity--2 .r-dignity__box {
    padding-top: 270px;
  }
  .m-dignity--2 .r-dignity__img {
    width: 100%;height: 246px;
  }
  .m-dignity--3 .r-dignity__box {
    padding-top: 270px;
  }
  .m-dignity--3 .r-dignity__img {
    right: 0;left: 0;
    width: 100%;height: 250px;
    background: url(img/m-dignity-3-mob.png) center/cover no-repeat !important;
  }
  .m-dignity--4 .r-dignity__box {
    padding-top: 271px;
  }
  .m-dignity--4 .r-dignity__img {
    right: 0;left: 0;
    width: 100%;height: 251px;
  }
  .m-dignity--5 .r-dignity__box {
    padding-top: 251px;
  }
  .m-dignity--5 .r-dignity__img {
    right: 0;left: 0;
    width: 100%;height: 231px;
    background-position: 72% 0 !important;
  }
  .m-categories {
    overflow: hidden;
    padding-top: 48px;
  }
  .m-categories__sl {
    overflow: initial;
  }
  .m-categories__sl .swiper-slide {
    width: 218px;
  }
  .m-categories__sl .q-btn {
    width: auto;
  }
  .m-product,
  .m-tasks {
    padding-top: 48px;
  }
  .m-tasks .q-tasks__item {
    min-height: auto;
  }
  .m-tasks .q-tasks__img {
    height: 303px;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .m-tasks .q-task__row,
  .m-tasks .q-task__row .row {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .m-tasks .q-task__row .row {
    display: block;
  }
  .m-tasks .q-task__row {
    padding: 24px 20px;
    background: #1D2A3D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-tasks .q-tasks__body .q-swiper-button {
    top: 165px;
  }
  .m-vantage .q-vantage__body {
    padding: 0;
  }
  .m-vantage .q-vantage__img {
    margin: 0;
    padding-bottom: 58.27%;
    background: url(img/m-vantage-mb.png) center/contain no-repeat !important;
  }
  .m-vantage .q-vantage__title {
    margin-top: 0;
    padding: 22px 20px;
  }
  .m-vantage .q-vantage__item {
    width: 100%;
    min-height: auto;
    padding: 18px 20px;
  }
  .m-vantage .q-vantage__item:last-child {
    border-bottom: 1px solid #DACABF;
  }
  .m-vantage .q-vantage__item span {
    font-size: 14px;
    position: static;
  }
  .m-vantage .q-vantage__item p {
    margin-top: 4px;
    display: block;
    line-height: 1.3;
  }
}

@media only screen and (max-width : 575px) {
  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  
}

@media only screen and (max-width : 369px) {
  
}

@media only screen and (max-width : 370px) {
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .m-tasks__next {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .m-tasks__row .col-m-small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .m-tasks__row .col-m-big {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}












